
.hero-bolsa {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url('../img/bolsa-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    margin-bottom: 0;
    padding: var(--section-padding);
}


/* Form Section */
.container-bolsa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 60px;
    gap: 50px;

}

.bolsa__texts{
    flex: 1;
    text-align: center;
}

.bolsa__texts h1{
    color: var(--white);
    font-family: var(--font-heading);
}

.bolsa__texts p{
    font-family: var(--font-body);
    color: var(--white);
    text-align: center;
}

.bolsa__form {
    flex: 2;
    max-width: 550px;
}

.form {
    background: rgba(255, 255, 255, 0.300);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 2.5rem;
    border-radius: 2px;
    box-shadow: 0 20px 40px rgba(0,0,0,.25);
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #0f172a;
}

.form__subtitle {
    text-align: center;
    font-size: 0.95rem;
    color: #64748b;
    margin-top: -1rem;
}

.form__campo {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.form__campo label {
    font-family: var(--font-heding);
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff;
}

.form__campo textarea{
    min-height: 150px;
    max-height: 150px;
    resize: none;
}

.form__input {
    font-family: var(--font-body);
    font-size: 0.85rem;
    transition: border .2s, box-shadow .2s;
    background: rgba(255,255,255,.85);
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 2px;
}

.form__input:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 0 3px rgba(37,99,235,.15);
}

.form__actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.form__btns{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form__btns button{
    flex: 1;
    padding: 15px ;
}



/* Spinner simple */
.spinner {
    margin-top: 1.5rem;
    width: 40px;
    height: 40px;
    border: 4px solid #cbd5f5;
    border-top: 4px solid #2563eb;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    align-self: center;
}

.hidden {
    display: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Responsive */
@media (max-width: 480px) {
    .form {
        padding: 2rem 1.5rem;
    }
}
